/* Orbitlist core */
ul.orbit.orbitlistJS {
    list-style-type: none !important;
    margin: 0 !important;
    padding: 0 !important;
    position: relative !important;
}

/* Orbitlist satellites */
ul.orbit.orbitlistJS li {
    position: absolute !important;
    cursor: pointer !important;
}