.orbit li {
    width: 60px !important;
    height: 60px !important;
    border-radius: 60px !important;
    border: 2px solid #000 !important;
	background: #fff !important;
    text-align: center !important;
    line-height: 60px !important;
}

ul.orbit.orbitlistJS li {
    transition: all 0.2s linear !important;
}

ul.orbit.orbitlistJS li:hover {
    background: #24d !important;
}

.orbit li.orbitlistJS-trace {
    background: #1ca !important;
}

.orbit li.orbitlistJS-active {
    background: #2F4 !important;
}
